.heading{
    font-size: 2.5rem;
    letter-spacing: -.04em;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.2;
    
}
.head-div{
    margin:4rem 0
}
.container-div{
    padding-left: 10rem;
    padding-right:10rem;
}